CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-8MB.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions-8MB.csv"
CONFIG_BT_ENABLED=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y

CONFIG_HELTEC_BOARD=y
CONFIG_HAS_SSD1306_DISPLAY=y


# SSD1306 specific config
CONFIG_GPIO_RANGE_MAX=48
CONFIG_I2C_INTERFACE=y
CONFIG_SSD1306_128x64=y
CONFIG_OFFSETX=0
CONFIG_SCL_GPIO=17
CONFIG_SDA_GPIO=18
CONFIG_RESET_GPIO=21
CONFIG_I2C_PORT_0=y

